.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #09d3ac;
}

.rsc-container {
	border-radius: 0px !important;
	height: 100vh !important;
	width: 100vw !important;
	display: flex;
	flex-direction: column;
}
.rsc-header .rsc-header-title {
	color: #fff;
}

.rsc-content {
	height: 0px !important;
	flex: 1;
}
